<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopWatermark.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesktopWatermark.Properties.Settings>
            <setting name="Tstring" serializeAs="String">
                <value>WaterDesk is brought to you by www.philett.com</value>
            </setting>
            <setting name="Img" serializeAs="String">
                <value />
            </setting>
            <setting name="imgSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="chkBox" serializeAs="String">
                <value>True</value>
            </setting>
        </DesktopWatermark.Properties.Settings>
    </userSettings>
</configuration>